@page "/register"
@model RegisterModel
@{
	ViewData["Title"] = "Register";
}

<style>
	.text-danger {
		color: red
	}

	.input-validation-error {
		border: 1px solid red
	}
</style>

<h1 class="text-4xl font-bold text-navy-blue">Welcome to the hub!</h1>
<h2 class="text-2xl font-thin text-navy-blue">Create your account below.</h2>

<div class="mt-10">
	<form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
		<div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>

		<div class="flex mb-10">
			<div class="bottom-border-input mr-1 md:mb-0">
				<svg fill="currentColor" viewBox="0 0 20 20" role="img" aria-labelledby="amzzd5oq5pivg9fjitd5q3b40go9hhsw" class="flex-shrink-0 text-navy-blue h-6 w-6 mr-2">
					<title id="amzzd5oq5pivg9fjitd5q3b40go9hhsw">First Name</title>
					<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
				</svg>
				<input asp-for="Input.FirstName" class="appearance-none block w-full text-gray-700 leading-tight focus:outline-none" autocomplete="given-name" aria-required="true" placeholder="First Name" />
				@*<label asp-for="Input.FirstName">First Name</label>*@
				<span asp-validation-for="Input.FirstName" class="text-danger"></span>
			</div>
			<div class="bottom-border-input ml-1 md:mb-0">
				<svg fill="currentColor" viewBox="0 0 20 20" role="img" aria-labelledby="amzzd5oq5pivg9fjitd5q3b40go9hhsw" class="flex-shrink-0 text-navy-blue h-6 w-6 mr-2">
					<title id="amzzd5oq5pivg9fjitd5q3b40go9hhsw">First Name</title>
					<path fill-rule="evenodd" d="M10 9a3 3 0 100-6 3 3 0 000 6zm-7 9a7 7 0 1114 0H3z" clip-rule="evenodd"></path>
				</svg>
				<input asp-for="Input.LastName" class="appearance-none block w-full text-gray-700 leading-tight focus:outline-none" autocomplete="family-name" aria-required="true" placeholder="Last Name" />
				@*<label asp-for="Input.LastName">Last Name</label>*@
				<span asp-validation-for="Input.LastName" class="text-danger"></span>
			</div>
		</div>
		<div class="bottom-border-input mb-10">
			<svg fill="currentColor" viewBox="0 0 20 20" role="img" aria-labelledby="abhqkehdgzih9lgt6mvtz3fdljpdhbn4" class="flex-shrink-0 text-navy-blue h-6 w-6 mr-2">
				<title id="abhqkehdgzih9lgt6mvtz3fdljpdhbn4">Email</title>
				<path d="M2.003 5.884L10 9.882l7.997-3.998A2 2 0 0016 4H4a2 2 0 00-1.997 1.884z"></path>
				<path d="M18 8.118l-8 4-8-4V14a2 2 0 002 2h12a2 2 0 002-2V8.118z"></path>
			</svg>
			<input asp-for="Input.Email" class="appearance-none block w-full text-gray-700 leading-tight focus:outline-none" autocomplete="email" aria-required="true" placeholder="youremail@example.com" />
			@*<label asp-for="Input.Email">Email</label>*@
			<span asp-validation-for="Input.Email" class="text-danger"></span>
		</div>
		<div class="bottom-border-input mb-10">
			<svg fill="currentColor" viewBox="0 0 20 20" role="img" aria-labelledby="a3wee8e76ogspm9h00k13f4q8fkkz07" class="flex-shrink-0 text-navy-blue h-6 w-6 mr-2">
				<title id="a3wee8e76ogspm9h00k13f4q8fkkz07">Password</title>
				<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
			</svg>
			<input asp-for="Input.Password" class="appearance-none block w-full text-gray-700 leading-tight focus:outline-none" autocomplete="new-password" aria-required="true" placeholder="Password (8 characters minimum)" />
			@*<label asp-for="Input.Password">Password</label>*@
			<span asp-validation-for="Input.Password" class="text-danger"></span>
		</div>
		<div class="bottom-border-input mb-10">
			<svg fill="currentColor" viewBox="0 0 20 20" role="img" aria-labelledby="a3wee8e76ogspm9h00k13f4q8fkkz07" class="flex-shrink-0 text-navy-blue h-6 w-6 mr-2">
				<title id="a3wee8e76ogspm9h00k13f4q8fkkz07">Password</title>
				<path fill-rule="evenodd" d="M5 9V7a5 5 0 0110 0v2a2 2 0 012 2v5a2 2 0 01-2 2H5a2 2 0 01-2-2v-5a2 2 0 012-2zm8-2v2H7V7a3 3 0 016 0z" clip-rule="evenodd"></path>
			</svg>
			<input asp-for="Input.ConfirmPassword" class="appearance-none block w-full text-gray-700 leading-tight focus:outline-none" autocomplete="new-password" aria-required="true" placeholder="Confirm Password" />
			@*<label asp-for="Input.ConfirmPassword">Confirm Password</label>*@
			<span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
		</div>
		<div class="flex items-center text-navy-blue">
			<input name="policy_rule_privacy_terms" type="checkbox" class="form-checkbox text-green mr-2" required /> @*TODO make this a field on the model?*@
			You have read and agree to the terms outlined in our
			<a target="_blank" rel="noopener noreferrer" href="https://manage.iqasport.com/privacy" class="text-blue-darker ml-1">Privacy Policy</a>
		</div>
		<div class="m-10 text-center">
			<button id="registerSubmit" type="submit" class="bg-navy-blue text-white font-bold py-2 px-8 rounded cursor-pointer">Register</button>
		</div>
	</form>
</div>
@*
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">article
                            about setting up this ASP.NET application to support logging in via external services</a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
	*@

