<div class='ui middle aligned center aligned grid' style='margin: 50px auto;width:60%;'>
  <div class='column'>
    <h2 class='ui header'>
      <div>Become a Referee</div>
    </h2>

    <%= form_for(
      resource,
      as: resource_name,
      url: create_user_registration_path,
      html: { class: (devise_error_messages? ? 'ui large form error' : 'ui large form')}
      ) do |f| %>
      <%= devise_error_messages! %>

      <div class='ui stacked segment'>
        <div class="<%= email_error? ? 'field error' : 'field' %>">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="<%= password_error? ? 'field error' : 'field' %>">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <div class="<%= password_confirmation_error? ? 'field error' : 'field' %>">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

        <%= f.submit "Sign up", class: 'ui fluid large submit button' %>
      </div>
    <% end %>
  </div>
</div>
