<p>
  A recertification attempt has failed for referee: <%= @referee.full_name %>
</p>

<p>
  They attempted <%= @test_result.test.name %> (<%= @test_result.test.certification.version %>) in <%= @test_result.duration %> with <%= @test_result.points_scored %> points scored out of <%= @test_result.points_available %> points available
</p>

<p>
  If necessary, please adjust their certifications <a href="https://manage.iqasport.com/referees/<%= @referee.id %>">here</a>
</p>
