<div class="main-background static h-screen w-full overflow-hidden">
  <%= image_tag 'background1.png', class: '-z-1 object-cover' %>
  <div class="z-1 absolute inset-0 h-full w-full p-12" style="background-color: rgba(114, 186, 108, 0.8);">
    <div class="flex h-full">
      <div class="flex-1 w-1/2">
        <%= image_tag 'IQA_long_white.png' %>
        <h1 class="text-5xl font-bold text-white text-center w-full">
          Management Hub
        <h1>
      </div>
      <div class="bg-white rounded-lg w-1/2 h-900 p-8 flex-1">
        <%= devise_error_messages! %>
        <h2 class='text-2xl font-thin text-navy-blue'>Change your password</h2>
        <%= form_for(
          resource,
          as: resource_name,
          url: update_user_password_path,
          html: { method: :patch }
        ) do |f| %>
          <%= f.hidden_field :reset_password_token %>
          <div class="mt-10">
            <div class="<%= password_error? ? 'bottom-border-error' : 'bottom-border-input' %> mb-10">
              <%= inline_svg_tag 'password.svg', aria: true, title: 'Password', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
              <%=
                f.password_field :password,
                autocomplete: 'off',
                class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                placeholder: 'Password (8 characters minimum)' %>
            </div>

            <div class="<%= password_confirmation_error? ? 'bottom-border-error' : 'bottom-border-input' %> mb-8">
              <%= inline_svg_tag 'password.svg', aria: true, title: 'Password', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
              <%=
                f.password_field :password_confirmation,
                autocomplete: "off",
                class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                placeholder: 'Confirm Password' %>
            </div>

            <div class="flex items-center text-navy-blue mb-8">
              <%= f.check_box :policy_rule_privacy_terms, {class: 'form-checkbox text-green mr-2', required: true}, true, false %>
              You have read and agree to the terms outlined in our
              <a target="_blank" rel="noopener noreferrer" href="https://manage.iqasport.com/privacy" class="text-blue-darker ml-1">Privacy Policy</a>
            </div>

            <div class="text-center">
              <%= f.submit "Change my password", class: 'bg-navy-blue text-white font-bold py-2 px-8 rounded cursor-pointer' %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>