<div class='ui middle aligned center aligned grid' style='margin: 50px auto; width:60%;'>
  <div class='column'>
    <h2 class='ui header'>
      Change your password
    </h2>

    <%= form_for(
            resource,
            as: resource_name,
            url: update_referee_password_path,
            html: { method: :patch, class: (devise_error_messages? ? 'ui large form error' : 'ui large form') }
        ) do |f| %>
      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class='ui stacked segment'>
        <div class="<%= password_error? ? 'field error' : 'field' %>">
          <%= f.label :password, "New password" %><br />
          <% if @minimum_password_length %>
            <em>(<%= @minimum_password_length %> characters minimum)</em><br />
          <% end %>
          <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
        </div>

        <div class="<%= password_confirmation_error? ? 'field error' : 'field' %>">
          <%= f.label :password_confirmation, "Confirm new password" %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>

          <%= f.submit "Change my password", class: 'ui fluid large submit button' %>
      </div>
    <% end %>
  </div>
</div>
