<% if Flipper.enabled?(:new_design) %>
  <div class="main-background static h-screen w-full overflow-hidden">
    <%= image_tag 'background1.png', class: '-z-1 object-cover' %>
    <div class="z-1 absolute inset-0 h-full w-full p-12" style="background-color: rgba(114, 186, 108, 0.8);">
      <div class="flex h-full">
        <div class="flex-1 w-1/2">
          <%= image_tag 'IQA_long_white.png' %>
          <h1 class="text-5xl font-bold text-white text-center w-full">
            Management Hub
          <h1>
        </div>
        <div class="bg-white rounded-lg w-1/2 h-900 p-8 flex-1">
          <%= devise_error_messages! %>
          <h2 class='text-2xl font-thin text-navy-blue'>Forgot your password?</h2>
          <%= form_for(
            resource,
            as: resource_name,
            url: create_user_password_path,
            html: { class: 'ui large form', method: :post }
          ) do |f| %>
            <div class="mt-10">
              <div class="w-full h-8 flex-shrink flex items-center border-b border-b-2 border-navy-blue py-2 mb-10">
                <%= inline_svg_tag 'email.svg', aria: true, title: 'Email', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
                <%= 
                  f.email_field :email, 
                  autocomplete: 'email', 
                  class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                  placeholder: 'youremail@example.com' %>
              </div>

              <div class="text-center">
                <%= f.submit "Send me reset password instructions", class: 'bg-navy-blue text-white font-bold py-2 px-8 rounded' %>
              </div>
            </div>
          <% end %>
        </div>
      </div>
    </div>
<% else %>
  <div class='ui main container center grid' style='flex:1;margin-top: 50px;width: 80%;'>
    <div class='column'>
      <h2 class='ui header'>
        Forgot your password?
      </h2>

      <%= form_for(
              resource,
              as: resource_name,
              url: create_user_password_path,
              html: { class: 'ui large form', method: :post }
          ) do |f| %>
        <%= devise_error_messages! %>

        <div class='ui stacked segment'>
          <div class="field">
            <%= f.label :email %><br />
            <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
          </div>

          <div class="actions">
            <%= f.submit "Send me reset password instructions", class: 'ui fluid large submit button' %>
          </div>
        </div>
      <% end %>

    </div>
  </div>
<% end %>
