<div class='ui main container center grid' style='flex:1;margin-top: 50px;width: 80%;'>
  <div class='column'>
    <h2 class='ui header'>
      Forgot your password?
    </h2>

    <%= form_for(
            resource,
            as: resource_name,
            url: create_user_password_path,
            html: { class: 'ui large form', method: :post }
        ) do |f| %>
      <%= devise_error_messages! %>

      <div class='ui stacked segment'>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions", class: 'ui fluid large submit button' %>
        </div>
      </div>
    <% end %>

  </div>
</div>
