<div class="main-background static h-screen w-full overflow-hidden">
  <%= image_tag 'background1.png', class: '-z-1 object-cover' %>
  <div class="z-1 absolute inset-0 h-full w-full p-12" style="background-color: rgba(114, 186, 108, 0.8);">
    <div class="flex h-full">
      <div class="flex-1 w-1/2">
        <%= image_tag 'IQA_long_white.png' %>
        <h1 class="text-5xl font-bold text-white text-center w-full">
          Management Hub
        <h1>
      </div>
      <div class="bg-white rounded-lg w-1/2 h-900 p-8 flex-1">
        <%= devise_error_messages! %>
        <h2 class="text-4xl font-bold text-navy-blue"><%= t "devise.invitations.edit.header" %></h2>
        <div class="mt-10">
          <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :put }) do |f| %>
            <%= render "devise/shared/error_messages", resource: resource %>
            <%= f.hidden_field :invitation_token, readonly: true %>
            
            <div class="flex mb-10">
              <div class="bottom-border-input mr-1 md:mb-0">
                <%= inline_svg_tag 'user.svg', aria: true, title: 'First Name', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
                <%= 
                  f.text_field :first_name,
                  required: true,
                  class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                  placeholder: 'First Name' %>
              </div>
              <div class="bottom-border-input ml-1 md:mb-0">
                <%= inline_svg_tag 'user.svg', aria: true, title: 'Last Name', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
                <%= 
                  f.text_field :last_name,
                  required: true,
                  class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none', 
                  placeholder: 'Last Name' %>
              </div>
            </div>

            <% if f.object.class.require_password_on_accepting %>
              <div class="<%= password_error? ? 'bottom-border-error' : 'bottom-border-input' %> mb-10">
                <%= inline_svg_tag 'password.svg', aria: true, title: 'Email', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
                <%= 
                  f.password_field :password,
                  required: true,
                  autocomplete: 'off', 
                  class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                  placeholder: 'Password (8 characters minimum)' %>
              </div>

              <div class="<%= password_confirmation_error? ? 'bottom-border-error' : 'bottom-border-input' %> mb-8">
                <%= inline_svg_tag 'password.svg', aria: true, title: 'Email', class: 'flex-shrink-0 text-navy-blue h-6 w-6 mr-2' %>
                <%= 
                  f.password_field :password_confirmation, 
                  required: true,
                  autocomplete: "off", 
                  class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                  placeholder: 'Confirm Password' %>
              </div>
            <% end %>

            <div class="flex items-center text-navy-blue">
              <%= f.check_box :policy_rule_privacy_terms, {class: 'form-checkbox text-green mr-2', required: true}, true, false %>
              You have read and agree to the terms outlined in our
              <a target="_blank" rel="noopener noreferrer" href="https://www.iqareferees.org/privacy" class="text-blue-darker ml-1">Privacy Policy</a>
            </div>

            <div class="m-10 text-center">
              <%= f.submit t("devise.invitations.edit.submit_button"), class: 'bg-navy-blue text-white font-bold py-2 px-8 rounded' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
