<div class="main-background static h-screen w-full overflow-hidden">
  <%= image_tag 'background1.png', class: '-z-1 object-cover' %>
  <div class="z-1 absolute inset-0 h-full w-full p-12" style="background-color: rgba(114, 186, 108, 0.8);">
    <div class="flex h-full">
      <div class="flex-1 w-1/2">
        <%= image_tag 'IQA_long_white.png' %>
        <h1 class="text-5xl font-bold text-white text-center w-full">
          Management Hub
        <h1>
      </div>
      <div class="bg-white rounded-lg w-1/2 h-900 p-8 flex-1">
        <%= devise_error_messages! %>
        <h2 class="text-4xl font-bold text-navy-blue"><%= t "devise.invitations.new.header" %></h2>
        <div class="mt-10">
          <%= form_for(resource, as: resource_name, url: invitation_path(resource_name), html: { method: :post }) do |f| %>
            <label class="block mt-10">
              <span class="text-navy-blue">Select National Governing Body</span>
              <%= f.select :ngb_to_admin, NationalGoverningBody.all.pluck(:name, :id), {required: true}, {class: 'form-select block w-1/2 mt-1'} %>
            </label>

            <div class="bottom-border-input mt-10">
              <%= 
                f.text_field :email, 
                class: 'appearance-none block w-full text-gray-700 leading-tight focus:outline-none',
                placeholder: 'Enter the email of the person you want to invite' %>
            </div>

            <div class="m-auto text-center mt-10">
              <%= f.submit t("devise.invitations.new.submit_button"), class: 'w-1/2 bg-navy-blue text-white font-bold py-2 px-8 rounded m-4 cursor-pointer' %>
            </div>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
