<!DOCTYPE html>
<html>
  <head>
    <title>RefereeHub</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= javascript_pack_tag 'MainApp/index' %>
    <%= stylesheet_pack_tag 'MainApp/assets/stylesheets/app' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
